{% extends "base/index.html" %}

{% block form %}
    <div class="container-fluid bg-info rounded pt-3 pb-3">
        <form method="post" action="/okr/excel_handler" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            <div class="mb-3">
                <label for="datetime" class="form-label">Выбрать период:</label>
                <input name="datetime" id="datetime" type="date" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="files" class="form-label">Отправить файлы:</label>
                <input name="files" id="files" type="file" multiple class="form-control"/>
            </div>
            {% if err %}
                <div class="mb-3" id="errMessage">
                    <label class="form-label" style="color: #ff0000"><b>{{ err }}</b></label>
                </div>
                <script>
                    $(document).ready(function () {
                        let fade = function () {
                            $("#errMessage").fadeOut(2000)
                        };

                        setTimeout(fade, 2500);
                    });
                </script>
            {% endif %}
            <button type="submit" class="btn btn-primary">Отправить!</button>
        </form>
    </div>
{% endblock %}